/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: white;
    color: #4A4A4A;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #5F8277;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-circle img {
    width: 50px;
    height: 50px;
    background-color: #5F8277;
    border-radius: 50%;
}

.company-name {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #4E6D5D;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #3b5346;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #f9f9f9;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    color: #2C3E50;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.hero-content .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5F8277;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.hero-content .button:hover {
    background-color: #4e6d5d;
}

.hero-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #5F8277;
    color: white;
    margin-top: 200px;
}
